In [1]:
import pandas as pd

#read in raw datasets
df_teams = pd.read_csv('raw/nfl_teams.csv')
df_scores = pd.read_csv('raw/spreadspoke_scores.csv')

In [2]:
#drop columns
df_teams = df_teams.drop(columns={
    'team_name_short', 'team_id_pfr',
    'team_conference_pre2002', 'team_division_pre2002'
})

df_teams.head()

           team_name team_id team_conference team_division
0  Arizona Cardinals     ARI             NFC      NFC West
1    Atlanta Falcons     ATL             NFC     NFC South
2    Baltimore Colts     IND             AFC           NaN
3   Baltimore Ravens     BAL             AFC     AFC North
4    Boston Patriots      NE             AFC           NaN

In [3]:
#strip spaces
df_teams['team_name'] = df_teams['team_name'].str.strip().str.lower()
df_scores['team_home'] = df_scores['team_home'].str.strip().str.lower()
df_scores['team_away'] = df_scores['team_away'].str.strip().str.lower()

In [4]:
#merge on home team
scores = df_scores.merge(
    df_teams,
    left_on = 'team_home',
    right_on = 'team_name',
    how = 'left'
).rename(columns={
    'team_conference': 'home_conference',
    'team_division': 'home_division'
}).drop('team_name', axis=1)

In [5]:
#merge on away team 
scores = scores.merge(
    df_teams,
    left_on = 'team_away',
    right_on = 'team_name',
    how='left'
).rename(columns={
    'team_conference': 'away_conference',
    'team_division': 'away_division'
}).drop('team_name', axis=1)

In [6]:
#rename columns
scores = scores.rename(columns={
    'team_id_x': 'team_id_home',
    'team_id_y': 'team_id_away'
})

In [7]:
#save merged dataset
scores.to_csv('nfl_merged.csv', index=False)